<!-- <div class="card flex justify-content-center">
  <p-dropdown
      [options]="cities"

      optionLabel="name"
      placeholder="Select a City" />
</div> -->
<!-- <app-switch></app-switch> -->
<!-- <app-formulario2></app-formulario2> -->
<!-- <app-formulario-reactivo></app-formulario-reactivo> -->

<h1>Enrutamiento</h1>
<div class="container">

  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>

      <li>
        <a routerLink="/contact" routerLinkActive="active">Contacto</a>
      </li>

      <li>
        <a routerLink="/about" routerLinkActive="active">sOBRE nOSOTROS</a>
      </li>

    </ul>
  </nav>
  <!-- <h1>Servicios</h1>
  <app-add-messages></app-add-messages>
  <br>
  <app-list-messages></app-list-messages> -->

  <router-outlet></router-outlet>
</div>
<!-- <input type="text" class="form-control mb-4" [(ngModel)]="title"> -->

<!-- <app-children [(title)]="title"></app-children> -->
